{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ username }}'s Profile</h2>

    <form action="{{ url_for('profile', username=username) }}" method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{ profile.email }}">
        </div>

        <div class="form-group">
            <label for="bio">Bio:</label>
            <textarea name="bio" id="bio">{{ profile.bio }}</textarea>
        </div>

        <button type="submit">Update</button>
    </form>
        <!-- Display User Information -->
        <div>
            <h3>Profile Information</h3>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    
    
    
        <!-- Display User's Plants -->
        <div>
            <h3>Your Plants</h3>
            <ul>
                {% for plant in user.plants %}
                    <li>{{ plant.plant_name }} - {{ plant.plant_type }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <!-- Display User's Favorite Plants -->
        <div>
            <h3>Your Favorite Plants</h3>
            <ul>
                {% for favorite in user.favorites %}
                    <li>{{ favorite.plant.plant_name }}</li>
                {% endfor %}
            </ul>
        </div>

    <a href="{{ url_for('logout') }}">Logout</a>
</div>
{% endblock %}
